(logs) {
    log stdout
    errors stderr
}

(tls) {
    tls {{ email }}
}

:80 {
    root /var/www/blank
    tls off
    import logs
}

{{ fqdn }}:80, {{ fqdn }}:443 {
    root {{ web_root|default('/var/www') }}
    templates / .txt
    ext .txt .html
    import tls
    import logs
}
